<div class="container">	
	<h2><%= @post.name.capitalize %></h2>
	<p><%= link_to 'Изменить статью', edit_post_path %> | <%= link_to 'Удалить', post_path, method: :delete, data: {confirm: 'Вы уверены?' } %></p>
	<p class="post-img"> <img src="<%= @post.image %>" alt=""> </p>
	<p><%= @post.content.html_safe %></p>

	<div class="comment_pane col-xl-12 col-lg-12  col-md-12 col-xs-12">
		<span>Коментарии:</span>
		<% @post.comments.each do |comment| %>
			<%= render 'comments/comment', comment: comment %>
		<% end %>
	</div> 	        

	<p>Добавить коментарий</p>

	<%= form_for([@post, @post.comments.build], remote: true) do |f| %>
		<div class="form-group">	
			<p><%= f.label 'Автор' %></p>
			<p><%= f.text_field :author, class:'form-control' %></p>
		</div>
		<div class="form-group">
			<p><%= f.text_area :content, class:'form-control' %></p> <br>
			<p><%= f.submit 'Создать коментарий', class:'btn btn-primary' %></p>	
		</div>
	<% end %>
</div>	