<!DOCTYPE html>
<html>
  <head>
    <title>Blogm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
    <ul class="menu nav">
      <li class="nav-item"><%= link_to 'Статьи', posts_path  %></li>
      <li class="nav-item"><%= link_to 'Категории', categories_path  %></li>
    </ul>
  </header>
    <%= yield %>
  </body>
</html>
